
.wrapper {
  display:grid;
  grid-template-columns: repeat(3, auto);
  background-color: #fefefe;
}

.tableHeader {
  color: #9DA9B7;
  /* background-color: aliceblue; */
  border-bottom: 0.1rem solid #EEF0F2;
  padding: 1rem;
  font-weight: 500;
}
.entry{
  padding: 1rem;
  border-bottom: 0.1rem solid #EEF0F2;
}

.expanded {
  background-color: aliceblue;
}

.cow{
}

.expandedWrapper {
}